<h3><a href=<%= linkTo_archetypeIndex %>><%= title %></a></h3>
<%- partial( 'form', {
		form       : form,
		archetype  : archetype,
		skill      : skill,
		skillGroup : skillGroup,
		type       : type
	}) %>