<table cellpadding="0" cellspacing="0" border="1" frame="void" rules="all" >
	<thead>
		<tr>
			<th>Name</th>
			<th>Abbrevation</th>
		</tr>
	</thead>
	<tbody><%
		if( attribute.length > 0 ){
			attribute.forEach(function( value, key ){
				var stripe = key % 2 == 0 ? 'even' : 'odd'; %>
				<tr class="<%= stripe %>">
					<td><a href="/attribute/<%= key %>"><%= value.name %></a></td>
					<td><%= value.abbr %></td>
				</tr><%
			});
		}
	%> </tbody>
</table>